* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  
}

.content {
  width: 350px;
  height: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 15px;
}
.container {
  width: 100px;
  height: 100px;
  text-align:center;
  color: #eee;
  background: #eee;
  display: inline-block;
  padding: 40px;
  border-radius: 5px;
  font-size: 30px;
  margin: 5px;
  cursor: pointer;
}
#jogador {
  font-size: 30px;
  margin-top: 20px;
}
.vencedor {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-block: 10px;
}


#resultado {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all .4s;
}
#resultado:hover  {
  background-color: greenyellow;
  box-shadow: 1px 1px 10px 1px greenyellow;
}